.App {
  text-align: center;


}

.card{
  margin: 30px;
}

.product{
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.container-product{
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}