.App {
  text-align: center;
  max-width: 1440px;
  margin: 0 auto;

}

.card{
  margin: 30px;
}

.product{
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.container-product{
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}